@import url(./reset.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

:root {
  --main-color: #fff;
  --secondary-сolor: #0A2640;
  --title-gray: #777777;
}

body {
  background-color: var(--main-color);
}
body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

/* header */

header {
  background-color: var(--secondary-сolor);
  padding-bottom: 64px;
}
@media (max-width: 768px) {
  header {
    padding-bottom: 0;
  }
}

.header-ellipse {
  position: absolute;
  right: 0;
  z-index: 1;
}
@media (max-width: 1200px) {
  .header-ellipse {
    display: none;
  }
}

nav {
  z-index: 2;
  max-width: 1220px;
  margin: 0 auto;
  padding: 56px 10px 0 10px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  nav {
    padding-top: 20px;
  }
}

.logo-text {
  font-size: 43.25px;
  font-weight: 700;
  margin-left: 11px;
  color: var(--main-color);
  font-family: 'Manrope';
  line-height: 33px;
  z-index: 3;
}

.nav__container {
  display: flex;
  gap: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  z-index: 2;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
@media (max-width: 768px) {
  .nav__container {
    position: absolute;
    top: 70px;
    left: -100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--secondary-сolor);
    width: 100%;
    height: 100%;
    color: #000;
    z-index: 3;
    gap: 0;
    transition: .2s;
  }
  .nav__container.active {
    overflow: auto;    
    padding: 20px 0 100px 0;
    left: 0;
  }
}

.nav__container a{
  color: var(--main-color);
}
@media (max-width: 768px) {
  .nav__container a {
    padding: 20px 0;
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--main-color);
  }
}

.nav__container .log-in-button {
  cursor: pointer;
  padding: 8px 40px;
  border-radius: 24px;
  border: 2px solid #FFF;
  background: #fff;
  color: #000;
}
@media (max-width: 768px) {
  .nav__container .log-in-button {
    padding: 4px 40px;
    margin-top: 30px;
  }
}

.menu-burger {
  display: none;
  position: relative;
  top: 10px;
  width: 30px;
  height: 20px;
}
@media (max-width: 768px) {
  .menu-burger {
    display: block;  
  }
  .menu-burger::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    transition: .2s;
  }
  .menu-burger::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    transition: .2s;
  }
  .menu-burger span {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    transition: .2s;
  }
  .menu-burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px
  }
  .menu-burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .menu-burger.active span {
    transform: scale(0);
  }
}

.header__container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 64px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .header__container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 24px;
    gap: 30px;
    padding: 0 20px;
    padding-bottom: 20px;
  }  
}

.header__content {
  width: 567px;
  margin-top: 56px;
  color: var(--main-color);
}
@media (max-width: 1200px) {
  .header__content {
    width: auto;
    max-width: 567px;
    text-align: center;
    margin-top: 0;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .header__content {
    max-width: 567px;
  }
}

.header__title {
  font-family: 'Manrope';
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}
@media (max-width: 576px) { 
  .header__title {
    font-size: 32px;
    line-height: 56px;
  }
}

.header__text {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.header__button-wrapper {
  margin-top: 40px;
  display: flex;
  gap: 24px;  
}
@media (max-width: 1200px) {
  .header__button-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.header__button-wrapper_button-1 {
  color: var(--secondary-сolor);
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  border-radius: 56px;
  padding: 16px 56px;
  border: 2px solid #69E6A6;
  background: var(--green, #65E4A3);
}

.header__button-wrapper_button-2 {
  color: var(--main-color);
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  padding: 16px 56px;
  border-radius: 56px;
  border: 2px solid #FFF;
}
@media (max-width: 576px) { 
  .header__button-wrapper_button-1,
  .header__button-wrapper_button-2 {
    padding: 8px 24px;
  }
}

.header__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
  width: 494px;
}
@media (max-width: 768px) {
  .header__pictures {
    display: none;
  }
}

.header__pictures_wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo-wall {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 56px;
  pointer-events: none;
  overflow: hidden;
}
@media (max-width: 768px)  {
  .logo-wall {
    display: none;
  }
}

/* MAIN */

/* container 1 */

.container-1 {
  margin-top: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-1 h3 {
  color: var(--title-gray);
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.container-1 h2 {
  margin-top: 12px;
  font-family: 'Manrope';
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
  max-width: 842px;
  text-align: center;
}
@media (max-width: 576px) { 
  .container-1 h2 {
    font-size: 32px;
    line-height: 40px;
  }
}

.container-1__wrapper {
  margin-top: 80px;
  width: 1122px;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 100px; */
}
@media (max-width: 1200px) {
  .container-1__wrapper {
    width: auto;
    justify-content: center;
    gap: 50px;
  }
}

.container-1__wrapper li {
  max-width: 300px;  
  display: flex;
  flex-direction: column;
  
}

.container-1__wrapper_title {
  margin-top: 24px;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.container-1__wrapper_content {
  margin-top: 12px;
  color: var(--title-gray);
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.explore-page-link {
  margin-top: 28px;
  color: var(--secondary-сolor);
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

/* container 2 */

.container-2 {
  margin-top: 185px;
  max-width: 1157px;
  min-height: 610px;
  padding: 0 10px;
  position: relative;
  display: flex;  
  font-display: row;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .container-2 {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;
  }
}

.container-2 img {
  max-height: 506px;
}

.container-2__stat {
  width: 251px;
  position: absolute;
  top: 222px;
  left: 186px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1050px) {
  .container-2__stat {
    display: none;
  }
}

.container-2__stat__title {
  margin-top: 20px;
  color: var(--secondary-сolor);
  font-family: 'Manrope';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.container-2__stat__text {
  color: var(--secondary-сolor);
font-family: 'Manrope';
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.container-2__wrapper {
  max-width: 494px;
}
@media (max-width: 1050px) {
  .container-2__wrapper {
    max-width: 60%;
  }
}
@media (max-width: 768px) {
  .container-2__wrapper {
    width: auto;
    max-width: 90%;
  }
}

.container-2__wrapper ul {
  margin-top: 40px;
}

.container-2__wrapper ul li {
  font-family: 'Open Sans';
  margin-top: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  padding-left: 64px;
  background: url(../img/check.svg) no-repeat left;
}

.container-2__wrapper_title {
  font-family: 'Manrope';
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}
@media (max-width: 576px) {
  .container-2__wrapper_title {
    font-size: 30px;
    line-height: 40px;
  }
}

.container-2-link {
  margin-top: 56px;
  padding: 16px 56px;
  display: flex;
  max-width: max-content;

  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;

  border: 2px solid var(--dark-blue, #0A2640);
  border-radius: 56px;
  background: var(--dark-blue, #0A2640);
  color: #FFF;
}
@media (max-width: 1200px) {
  .container-2-link {    
    margin: 56px auto 0 auto;
  }
}

/* container 3 */

.container-3 {
  margin-top: 120px;
  max-width: 1120px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;  
  position: relative;
  min-height: 692px;
}
@media (max-width: 1050px) {
  .container-3 {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.container-3 img {
  max-height: 523px;
}

.container-3__text-wrapper {
  max-width: 500px;
}
@media (max-width: 768px) {
  .container-3__text-wrapper {
    max-width: 90%;
  }
}

.container-3__text-wrapper ul {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container-3__text-wrapper ul li {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  
  display: flex;
  align-items: center;
  gap: 14px;
  height: 68px;
  padding-left: 22px;

  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
}

.container-3__text-wrapper ul li:first-child {
  background-color: var(--secondary-сolor);
  color: var(--main-color);
}

.container-3__title {
  font-family: 'Manrope';
  font-size: 36px;
  font-weight: 400;
  line-height: 56px;
}
@media (max-width: 576px) {
  .container-3__title {
    font-size: 30px;
    line-height: 40px;
  }
}

.container-3__stat {
  position: absolute;
  bottom: 0;
  right: 105px;
  background-color: var(--main-color);
  padding: 24px 32px;
  border-radius: 12px;
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1050px) {
  .container-3__stat {
    display: none;
  }
}

.container-3_stat__wrapper {
  margin-top: 23px;
  /* max-width: 163px; */
  display: flex;
  flex-direction: column;
  gap: 11px;

  font-family: 'Manrope';
  font-size: 13.878px;
  font-weight: 400;
  line-height: 23.79px;
}

.container-3_point-1 {
  position: relative;
}

.container-3_point-1::before {
  content: url(../img/point\ 1.svg);
  margin-right: 8px;
}

.container-3_point-2::before {
  content: url(../img/point\ 2.svg);
  margin-right: 8px;
}

.container-3_point-3::before {
  content: url(../img/point\ 3.svg);
  margin-right: 8px;
}

/* contaier 4 */

.container-4 {
  margin-top: 120px;
  min-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--secondary-сolor);
  color: var(--main-color);
}

.container-4__title-wrapper {
  max-width: 1100px;
  width: 100%;
}

.container-4_title {
  margin-top: 96px;
  width: 100%;
  max-width: 716px;
  text-align: start;

  font-family: 'Manrope';
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
}


.container-4__wrapper {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1100px;
  max-height: 400px;
}

.container-4__wrapper ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container-4__wrapper ul li {
  color: #000;
  max-width: 350px;
  height: max-content;
  padding: 40px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.12);
}

.container-4_text {
  color: #000;
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.container-4__wrapper__autor-block {
  margin-top: 40px;
  width: 100%;
  display: flex;
}

.container-4__name-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  justify-content: left;
}

.container-4_name {
  color: var(--dark-blue, #0A2640);
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  
}

.container-4_contact {
  color: var(--dark-blue, #0A2640);
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 32px; 
}

.container-4__arrow-wrapper {
  position: absolute;
  top: 180px;
  right: 100px;
  width: 100%;
  max-width: 170px;
  display: flex;
  justify-content: space-between;
}

.container-4_arrow {
  /* pointer-events: none; */
  cursor: pointer;
  transition: .3s;
}

.container-4_arrow:hover {
  opacity: 50%;
}